body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Bona Nova', serif;
}
.header-name{
    border-left: 5px solid  #FF5959;
    border-radius: 5px; 
}
.header{
    margin-left: 10px;
}
.heading-name{
    margin-top: 180px;
  
}
.stay-focused{
    display: flex;

}
section{
    padding: 0 6%;
}
.stay-focused h1{
    font-size: 60px;
    line-height: 40px;
}
p{
    color: #5E5E5E;
    font-size: 20px;
    margin-bottom: 40px;
}
.stay-focused img{
    width: 80%;
    padding-left: 25px;
    
}
.focused-info{
    width: 50%;
  
   margin-left: 40px;
}
.text-color{
    color: #FFAD5A;
    
}
.button-link{
    text-decoration: none;
    background-color: #FF5959;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    margin-top: 40px;
    
}
.scroll{
    margin-top: 50px;
}
.my-mission{
    display: flex;
    margin-bottom: 100px;
    
}
.my-mission h2{
    font-size: 25px;
}
.mission-item{
    
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
     border-radius: 15px;

}
.mission-item img{
    width: 50%;
}
#mission{
    background-color: #EDF5F6;
}
#vission{
    background-color: #FFEEEE;
}
#goal{
    background-color: #FFF4D6;
}
/* develop */
.develop{
    display: flex;
    padding: 0% 10%;
  
}
 h1{
    line-height: 30px;
    font-size: 40px;

}
.without-limit{
    width: 50%;
   padding: 2%;
    
}
.without-limit img{
    width: 90%;
   
}
.community{
    display: flex;
    padding: 0% 10%;
   
}
/* corona app */
.corona-app{
    display: flex;
    padding:10% 20%;
    
}
.corona-app img{
    width: 100%;
   
}
.app-img{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: top;
}
.app-description h1{
    font-size: 40px;
}

.app-description{
    margin-left: 150px;
}
/* footer */
footer{
  padding:50px;
  background-color: #0B0D17;
}
.f-color{
    color: #FF5959;
}
.f-description h2{
    color: #fff;
    font-size: 30px;
}
.f-description{
    text-align: center;
}