body{
    margin: 0 auto;
    padding: 0;
}
.heading-name{
    margin-top: 180px;
}
.stay-focused{
    display: flex;

}
section{
    padding: 0 6%;
}
.stay-focused h1{
    font-size: 60px;
    line-height: 40px;
}
.stay-focused p{
    color: #5E5E5E;
    font-size: 24px;
    margin-bottom: 40px;
}
.stay-focused img{
    width: 80%;
    padding-left: 25px;
    
}
.focused-info{
    width: 50%;
  
   margin-left: 40px;
}
.text-color{
    color: #FFAD5A;
}
.button-link{
    text-decoration: none;
    background-color: #FF5959;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    margin-top: 40px;
    
}
.scroll{
    margin-top: 50px;
}

